* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Styling for Navigation */
nav{
  display: flex;
  background-color: #1A3828;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0px 4px 8px rgb(212 235 206);
  margin-bottom: 0.5px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

nav ul li::after {
  content: "|";
  margin-left: 10px; 
  color: white;
  font-weight: bold;
}
nav ul li:last-child::after {
  display: none; 
}

nav ul li {
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.6s;
  margin-right: 20px;
}

nav ul li a:hover {
  color: #4e8d58;
}

span {
  color: #ffffff;
  margin-right: 20px;
  text-decoration: overline;
}

.logo {
  color: #4e8d58;
  margin-bottom: 20px;
  text-decoration: overline;
}

.logo-image {
  width: 70px; 
  height: auto; 
  vertical-align: middle; 
  border-radius: 70%;
}


.loginBtn {
  border: none;
  background: white;
  padding: 12px 30px;
  border-radius: 50%;
  color: #4e8d58;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 20px;
}

.loginBtn:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.loginBtn:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

/* Styling for Home Container */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section h1{
  color: #8f9436;
}
.content-container h1{
  color: #8f9436;
}

.home-section,
.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc; 
  padding: 20px; 
  box-shadow: 0 4px 20px rgb(43 171 39 / 20%);
  background-color: white; 
}

.left-div img,
.content-container img {
  width: 300px;
  height: auto;
}

.right-div,
.text-container {
  width: 40%;
  padding: 20px;
  text-align: center;
}

.text-container {
  text-align: center;
}

.content-container.reversed img {
  margin-left: 0;
  margin-right: 20px;
}

.content-container.reversed img {
  margin-left: 0; 
  margin-right: 20px; 
}

.intro-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 20px rgb(43 171 39 / 20%);
}

.intro-container h1 {
  color: #4e8d58;
  margin-bottom: 20px;
}


/* STYLING FOR PRODUCTS PAGE */
.products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px; 
}

.paragraphForAllProducts {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: serif;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 20px rgb(43 171 39 / 15%);
  background-color: white;
}
.single-product {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  background-color: white; 
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.single-product:hover {
  transform: scale(1.05);
  opacity: 0.8; 
}
  
.single-product img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}
  
.single-product h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

/* CSS FOR SEARCH INPUTS */

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 80%;
  margin: 0 auto;
}

.search-bar,
.filter-form {
  display: inline-block;
  margin-right: 10px;
}

.filter-form label {
  margin-right: 5px;
}

.filter-form {
  order: 2;
}

.search-bar {
  order: 1;
  width: 20%;
}

.filterAndSearchDiv{
  text-align-last: center;
}

.filter-form select,
.search-bar {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #3E7E59;
  border-radius: 5px;
  background-color: transparent;
  color: #3E7E59;
  margin-top: 20px;
  margin-left: 20px;
}

.filter-form select:hover,
.search-bar:hover {
  background-color: #E0F2E9;
}

.filter-form select:focus,
.search-bar:focus {
  outline: none;
  box-shadow: 0 0 5px #3E7E59;
}

/* CSS for companies page */
.companies-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px; 
}

.paragraphForAllCompanies{
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: serif;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 20px rgb(43 171 39 / 15%);
  background-color: white;
}

.single-company {
  width: calc(33.33% - 20px); 
  margin-bottom: 20px;
  background-color: white; 
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}

.single-company img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
  }


.single-company h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
/* CSS for Single Company Page */

.single-company-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  overflow-x: auto;
  justify-content: center;
}

.single-company-page img {
  margin-top: 30px;
  width: 500px;
  height: auto;
  margin-bottom: 30px;
  border: 3px solid #4e8d584a;
}

.single-company-page p {
  max-width: 60%;
  margin-bottom: 20px;
  
}

.single-company-page ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.single-company-page li {
  margin-bottom: 10px;
  margin-top: 5px
}

.company-products-div {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
}

.company-products-div li {
  width: auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0 10px;
  margin-top: 10px;
  border: 1px solid #ccc; 
  border-radius: 10px; 
  margin-right: 10px;
}

.company-products-div li img {
  width: 150px;
  height: 170px;
}

/* CSS for Single Product Page */
.single-product-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 60%;
  margin: 20px auto;
  background-color: #f9f9f9;
}
.single-product-page img {
  height: auto;
  width: 400px;
  align-self: center;
}

single-product-page h1, h3 {
  /* text-align: center; */
  color: #333;
  margin-bottom: 20px;
  
}

.product-details {
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  color: #666;
  margin-bottom: 10px;
}

.reviews {
  width: 100%;
}

.review {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
}

.review p {
  color: #333;
  margin: 5px 0;
  margin-bottom: 10px;
}

.review button {
  margin-top: 10px;
}

.review-form {
  text-align: center;
}

.review-form form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form input, .review-form textarea {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
}

.review-form button {
  padding: 8px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-form button[type="submit"]:hover {
  background-color: #45a049;
}
.review-form input {
  width: 70%;
}

/* LOGIN FORM */
.centered-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 400px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  text-align: center; 
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.error-message {
  color: #ff0000; 
  margin-top: 5px;
}

.signup-link {
  color: #4caf50; 
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline; 
}
.centered-container p {
  position: relative;
}

/* SIGNUP FORM */

.signup-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.register-form {
  
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px; 
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #45a049;
}

.errors {
  color: red;
  margin-top: 5px;
}

.login-link {
  text-decoration: none;
  color: #4caf50;
  text-decoration: none;
  text-align: center;
}

.login-link:hover {
  text-decoration: underline;
}
.signup-container h1 {
  margin-bottom: 20px; 
}